* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: small-caps italic georgia;
}

/* Fonts */

/* Normalize */

:root {
    /* Colors */
    --primario: #fff;
    --secundario: #94692a;
    --texto: #333;
    --hover: #bb8535;

    /* Font-sizes*/

    --banner: 6em;
    --text-title: 4.5em;
    --text-menu: 2.4em;
    --text-medium: 2em;
    --text-small: 1.3em;

}

html {
    font-size: 62.5%
}

body { 
    background-image: url(../multimedia/Joyas-background.png);
    background-attachment: fixed;
    background-size: cover;
}
/* HEADER */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primario);
    border-bottom: 1px solid var(--secundario) ;

}
.header__nav {
    border-top: 1px solid var(--secundario);
    width: 100%;
    margin: .4rem;
    padding: .4rem;
}

.menu {

    text-align: center;
}
.menu a {
    text-decoration: none;
    color: var(--secundario);
    font-size: var(--text-menu);
    border-bottom: 1px solid transparent;
    transition: border 1s;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .4rem;
}



/* Banner */

.banner {
    height: 28vh;
    background-image: url(../multimedia/banner.jpg);
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}

/* -------- SECCIÓN NOSOTROS -------- */
.nosotros {
    height: 100%;
    padding: 2rem;
    background-color: var(--primario);
    border-top: 1px var(--secundario) solid;
    border-bottom: 1px var(--secundario) solid;
    display: flex;
    flex-direction: column;

}

.nosotros h1 {
    font: var(--banner) georgia;
    color: var(--texto);
}

.nosotros p {
    color: var(--texto);
    font-size: var(--text-medium);
    margin: 25px 0px;
}

/* ----------- SECCIÓN SHOP -------- */

.tienda-home {
    height: 100vh;
    background-image: url("../multimedia/Joyas-background.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shop {
    text-align: center;
    width: 50%;
}
.shop h2 {
    font: 6em georgia;
    color: var(--texto);
}
.shop p {
    margin-bottom: 2rem;
    font-size: var(--text-menu);
    color: var(--texto);
}
.shop a {
    padding: .3rem;
    text-decoration: none;
    color: var(--primario);
    background-color: var(--secundario);
    font-size: var(--text-menu);

}

/*------------ FOOTER ------------ */
footer { 
    display: grid;
    height: 100%;
    background-color: #94692A;
    grid-template-columns: repeat(2 1fr);
    grid-template-rows: auto;
    grid-template-areas: "nav cont"
                         "nav  redes"
                         "pagos pagos"
                         "copy copy";  
   margin:auto; 
   color: var(--texto);
}
footer h3 {
    font: var(--text-small) georgia;
    text-align: center;
    margin: 1.4rem 0;
    text-decoration: underline;
}
footer a {
    color: var(--texto);
    text-decoration: none;
    font-size: var(--text-small);
}
footer i {
    color: var(--texto);
}

.footer__nav {
    grid-area: nav;    
}
.footer__ul{
    display: flex;
    flex-direction: column;
}

.footer__pagos{
    text-align: center;
    grid-area: pagos; 
}
.pagos__grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 5rem 5rem;
}
.footer__pagos img {
    width: 7rem;
}

.footer__contacto{
    grid-area: cont;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: .3rem;

}
.footer__redes{
    grid-area: redes;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer__redes ul{
    display: flex;
    flex-direction: row;
}
.footer__redes img {
    width: 25px;
}
.copy {
    text-align: center;
    grid-area: copy;
    color: var(--texto);
    border-top: 1px solid #333;
    padding: .3rem;
}

/* ------------ FIN DEL FOOTER ------------------- */

/* ---------------PAGINA CONTACTO--------------------- */

/* ------------ FORMULARIO ----------------------- */

.cont {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: #ffffff;
    max-width: 100%;
    margin: auto;
    box-shadow: 0px 3px 10px 4px #333;
    margin: 2.5rem;
    border: 1px solid var(--secundario);

}

.cont__form {
    text-align: center;
    margin-top: 5rem;
    color: #333;
    width: 100%;
    font: small-caps italic 1.3rem georgia;
    padding-bottom: 3rem;

}

.cont__form h1 {
    font: small-caps italic var(--text-title) georgia;
    margin-bottom: 1rem;
    color: var(--texto);
}
.cont__form p {
    color: var(--texto);
    font-size: var(--text-small);
    margin-bottom: 5rem;
}

.form__input {
    width: 80%;
    padding: 1.3rem;
    margin: 1rem;
    border-radius: 5px;
    border: transparent;
    border-bottom: 1px solid var(--secundario);
}
.form__input:focus {
    background: linear-gradient(0deg, rgba(187,133,53,1) 0%, rgba(255,255,255,1) 42%);
    border: 2px solid red;
}

.form__btn {
    font-size: 1.7rem;
    width: 80%;
    padding: 1.3rem;
    margin: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: var(--secundario);
    color: #fff;
}


.form__text {
    font-size: 1.4rem;
    margin: 1rem;
    width: 80%;
    padding: 1.3rem;
    border-radius: 5px;
    border: transparent;
    border-bottom: 1px solid var(--secundario);
}
.form__text:focus {
    background: linear-gradient(0deg, rgba(187,133,53,1) 0%, rgba(255,255,255,1) 42%);

}

/* --------------PAGINA NOSOTROS----------------- */

/* Sección Quienes somos */

.sec-nosotros {
    height: 100%;
    background-color: var(--primario);
    border-top: 1px solid var(--secundario);
    display: flex;
    flex-direction: column;
    align-items: center;   
}
.sec-nosotros__texto {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    margin: 8rem 0;
    padding: 1.3rem;
    border: 1px solid var(--secundario);
}
.sec-nosotros__mapa {
    width: 100%;
    border: 1px solid var(--secundario);
}
.sec-nosotros__mapa iframe{
    width: 100%;
}
.sec-nosotros video {
    width: 100%;
}
.sec-nosotros h1 {
    font: 5em georgia;
    color: var(--texto);
}
.sec-nosotros p {
    font: var(--text-medium) georgia;
    color: var(--texto);
    padding: 1.5rem;
    margin-bottom: 2rem;
}
.vt a {
    background-color: var(--secundario);
    text-decoration: none;
    font: var(--text-medium) georgia;
    color: var(--primario);
    padding: 1.5rem;
}

.sec-nosotros__tel {
    width: 100%;
    text-align: center;
    margin-top: 1.7rem;
}

.sec-nosotros__tel h2 {
    font: small-caps italic 4rem georgia;
    color: #333;
}

.sec-nosotros__tel p {
    font: small-caps italic 1.6rem georgia;
    margin: 2rem;
    color: #333;
    padding: .4rem;
}

.sec-nosotros__tel a {
    color: var(--primario);
    font: small-caps italic 1.6rem georgia;
    background-color: var(--secundario);
    padding: .5rem;
    text-decoration: none;

}

/* Página Tienda */

.tienda {
    width: 100%;
    background-image: url(../multimedia/Joyas-background.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.tienda__titulo {
    margin-top: 1.6rem;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(187,133,53,1) 100%);
    ;
    border: 1px solid var(--secundario);
    color: var(--texto);
    font: var(--text-menu) georgia;
    text-align: center;
    padding: .8rem;
}

.tienda__productos {
    width: 100%;
    padding: .5rem;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: .6rem;
}
.producto {
    border: 1px solid var(--secundario);
    background-color: var(--primario);
    transition: all .2s;
}

.tienda__productos h3 {
    font-size: .9em;
    padding: .3rem;
}
.tienda__productos p {
   color: var(--secundario);
   font-size: 2em;
}
.tienda img {
    width: 100%;
    border-bottom: 1px solid var(--secundario);}

 /* pag. Preguntas frecuentes */
.qya {
    background-color: var(--primario);   
    border-top: 1px solid var(--secundario);
}
.qya__texto {
    padding: 3rem;
}
.qya__texto h1 {
    text-align: center;
    color: var(--texto);
    font-size: var(--text-title);
    margin-bottom: 3rem;
}

.qya__texto h2 {
    color: var(--texto);
    font-size: var(--text-menu);
    text-decoration: underline;
    margin: 1rem 0;
}
.qya__texto p {
    color: var(--texto);
    font-size: var(--text-medium);
    padding: .3em;
    
    
}

.qya__dudas {
    text-align: center;
    font-size: var(--text-medium);
    color: var(--texto);
    padding: 2rem;
}

 /* RESPONSIVE */

@media screen and (min-width: 480px) AND (max-width: 940px) {
    
    /* Header */

    header {
        flex-direction: row;
    }
    .header__nav {
        border-top: none;
    }
    .header__logo {
        width: 25rem;
    }

    .tienda__productos {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
        padding: 2rem;
    }
    
 
}
@media screen and (min-width: 941px) {
    header {
        flex-direction: row;
    }
    
    .header__nav {border-top: none;}
    .header__nav ul {
        flex-direction: row;
        justify-content: space-around;
        align-items: center; 
    }
    .header__nav a {
        transition: all .4s;
    }
   
  
    /* Underline From Left hover.css*/
.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: var(--hover);
    height: 2px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
    right: 0;
  }


    .banner {
        height: 35rem;
        background-attachment: fixed;
        background-size: cover;
    }
    .shop a {
        transition: all .3s;
    }
    .shop a:hover {
        background-color: var(--hover);
    }
    .nosotros {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .nosotros__title {
        width: 50%;
    }
    .nosotros__text {
        width: 50%;
    }
    footer {
        grid-template-rows: auto;
        grid-template-areas: "nav pagos cont"
                             "nav pagos redes"
                             "copy copy copy";
    }
    
    .form__input {
        width: 40%;
        border-bottom: 1px solid var(--secundario);
    }
    
    .form__text {
        width: 82%;
        border-bottom: 1px solid var(--secundario);
    }
    .form__btn {
        width: 50%;
        transition: all .3s;
    }
    .form__btn:hover {
        background-color: #bb8535;
    }
    footer li:hover {
        list-style: circle;
    }
    
    .vt a {
        transition: all .3s;
    }
    .vt a:hover {
        background-color: var(--hover);
    }

    .sec-nosotros__tel a {
        transition: all .3s;
    }
    .sec-nosotros__tel a:hover {
        background-color: var(--hover);
    }

    .tienda__titulo {
        padding: 2rem;
    }
    .tienda__productos {
        padding: 2rem;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 2rem
    }
    
    /* BOUNCE-IN Hover.css */

.hvr-bounce-in {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }
  .hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  }


}
