* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: small-caps italic georgia;
}

/* Fonts */

/* Normalize */

:root {
    /* Colors */
    --primario: #fff;
    --secundario: #94692a;
    --texto: #333;

    /* Font-sizes*/

    --banner: 6em;
    --text-title: 4.5em;
    --text-menu: 2.4em;
    --text-medium: 2em;
    --text-small: 1.3em;

}

html {
    font-size: 62.5%
}

body { 
    background-image: url(../multimedia/Joyas-background.png);
    background-attachment: fixed;
    background-size: cover;
}
/* HEADER */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primario);
    border-bottom: 1px solid var(--secundario) ;

}
.header__nav {
    border-top: 1px solid var(--secundario);
    width: 100%;
    margin: .4rem;
    padding: .4rem;
}
.header__logo {
    width: 15rem;
}
.header__logo img {
    width: 100%;
}
.menu {

    text-align: center;
}
.menu a {
    text-decoration: none;
    color: var(--secundario);
    font-size: var(--text-menu);
    border-bottom: 1px solid transparent;
    transition: border 1s;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .4rem;
}



/* Banner */

.banner {
    height: 28vh;
    background-image: url(../multimedia/banner.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: -25rem -10rem ;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}

/* -------- SECCIÓN NOSOTROS -------- */
.nosotros {
    height: 100%;
    padding: 2rem;
    background-color: var(--primario);
    border-top: 1px var(--secundario) solid;
    border-bottom: 1px var(--secundario) solid;
    display: flex;
    flex-direction: column;

}

.nosotros h3 {
    font: var(--banner) georgia;
    color: var(--texto);
}

.nosotros p {
    font-size: var(--text-medium);
    margin: 25px 0px;
}

/* ----------- SECCIÓN SHOP -------- */

.tienda-home {
    height: 100vh;
    background-image: url("../multimedia/Joyas-background.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shop {
    text-align: center;
    width: 50%;
}
.shop h5 {
    font: 6em georgia;
    color: var(--texto);
}
.shop p {
    margin-bottom: 2rem;
    font-size: var(--text-menu);
    color: var(--texto);
}
.shop a {
    padding: .3rem;
    text-decoration: none;
    color: var(--primario);
    background-color: var(--secundario);
    font-size: var(--text-menu);

}

/*------------ FOOTER ------------ */
footer { 
    display: grid;
    height: 100%;
    background-color: #94692A;
    grid-template-columns: repeat(2 1fr);
    grid-template-rows: auto;
    grid-template-areas: "nav cont"
                         "nav  redes"
                         "pagos pagos"
                         "copy copy";  
   margin:auto; 
   color: var(--texto);
}
footer h6 {
    font: var(--text-small) georgia;
    text-align: center;
    margin: 1.4rem 0;
    text-decoration: underline;
}
footer a {
    color: var(--texto);
    text-decoration: none;
    font-size: var(--text-small);
}
footer i {
    color: var(--texto);
}

.footer__nav {
    grid-area: nav;    
}
.footer__ul{
    display: flex;
    flex-direction: column;
}

.footer__pagos{
    text-align: center;
    grid-area: pagos; 
}
.pagos__grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 5rem 5rem;
}
.footer__pagos img {
    width: 7rem;
}

.footer__contacto{
    grid-area: cont;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: .3rem;

}
.footer__redes{
    grid-area: redes;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer__redes ul{
    display: flex;
    flex-direction: row;
}
.footer__redes img {
    width: 25px;
}
.copy {
    text-align: center;
    grid-area: copy;
    color: var(--texto);
    border-top: 1px solid #333;
    padding: .3rem;
}

/* ------------ FIN DEL FOOTER ------------------- */

/* ---------------PAGINA CONTACTO--------------------- */

/* ------------ FORMULARIO ----------------------- */

.cont {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: #ffffff;
    max-width: 100%;
    margin: auto;
    box-shadow: 0px 3px 10px 4px #333;
    margin: 2.5rem;
    border: 1px solid var(--secundario);

}

.cont__texto {
    width: 100%;
    text-align: center;
    margin-top: 1.7rem;
}

.cont__texto h4 {
    font: small-caps italic 4rem georgia;
    color: #333;
}

.cont__texto p {
    font: small-caps italic 1.6rem georgia;
    margin: 3rem;
    color: #333;
    padding: .4rem;
}

.cont__form {
    text-align: center;
    margin-top: 5rem;
    color: #333;
    width: 100%;
    font: small-caps italic 1.3rem georgia;
    padding-bottom: 3rem;

}

.cont__form h4 {
    font: small-caps italic 4rem georgia;
    margin-bottom: 1rem;
    columns: var(--texto);
}

.form__input {
    width: 80%;
    padding: 1.3rem;
    margin: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form__btn {
    font-size: 1.7rem;
    width: 80%;
    padding: 1.3rem;
    margin: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: var(--secundario);
    color: #fff;
}


.form__text {
    font-size: 1.4rem;
    margin: 1rem;
    width: 80%;
    padding: 1.3rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* --------------PAGINA NOSOTROS----------------- */

/* Sección Quienes somos */

.sec-nosotros {
    height: 100%;
    background-color: var(--primario);
    border-top: 1px solid var(--secundario);
    display: flex;
    flex-direction: column;
    align-items: center;   
}
.sec-nosotros__texto {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    margin: 8rem 0;
    padding: 1.3rem;
    border: 1px solid var(--secundario);
}
.sec-nosotros__video {
    width: 100%;
    border: 1px solid var(--secundario);
}
.sec-nosotros video {
    width: 100%;
}
.sec-nosotros h5 {
    font: 5em georgia;
    color: var(--texto);
}
.sec-nosotros p {
    font: var(--text-medium) georgia;
    color: var(--texto);
    padding: 1.5rem;
    margin-bottom: 2rem;
}
.vt a {
    background-color: var(--secundario);
    text-decoration: none;
    font: var(--text-medium) georgia;
    color: var(--primario);
    padding: 1.5rem;
}




@media screen and (min-width: 480px) AND (max-width: 1240px) {
    header {
        flex-direction: row;
    }
    
}

