@charset "UTF-8";
/* Variables */
/* Colors */
/* Spacings */
/* Font-size */
/* Normalize */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: small-caps georgia; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  background-image: url(../../multimedia/Joyas-background.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: #ffddcc; }

img {
  width: 100%; }

/* Mixins */
/* Header */
.header {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffeeeeee;
  border-bottom: 1px solid #ffddcc;
  position: sticky;
  top: -80px; }
  .header__nav {
    width: 100%; }
    .header__nav ul {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      font-size: 2em;
      padding: 2rem;
      background-color: #ffddcc; }
      .header__nav ul a {
        color: #331122; }
  .header .wsp {
    background-color: transparent;
    bottom: 30px; }
  .header .link-active {
    color: #DD8755;
    padding: .3rem;
    border-radius: 15px; }

/* Footer */
.footer {
  display: grid;
  height: 100%;
  background-color: #ffeeeeee;
  grid-template-columns: repeat(2 1fr);
  grid-template-rows: auto;
  grid-template-areas: "nav redes" "cont cont" "pagos pagos" "copy copy";
  margin: auto;
  color: #331122;
  border-top: 1px solid #ffddcc; }
  .footer h3 {
    font: 2em georgia;
    color: #331122;
    text-align: center;
    margin: 2rem 0;
    text-decoration: underline; }
  .footer a {
    color: #331122;
    font-size: 1.3em; }
  .footer i {
    color: #331122; }
  .footer__logo {
    grid-area: logo;
    width: 50%; }
    .footer__logo img {
      width: 100%; }
  .footer__nav {
    grid-area: nav; }
  .footer__ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: .5rem; }
  .footer__pagos {
    text-align: center;
    grid-area: pagos; }
    .footer__pagos .pagos__grid {
      display: grid;
      grid-template-columns: 25% 25% 25% 25%;
      grid-template-rows: 5rem 5rem;
      justify-items: center; }
    .footer__pagos img {
      width: 5rem;
      border: 1px solid #000000; }
  .footer__contacto {
    grid-area: cont;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: .5rem; }
  .footer__redes {
    grid-area: redes;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; }
    .footer__redes ul {
      display: flex;
      flex-direction: row;
      gap: .6rem; }
    .footer__redes img {
      width: 25px; }
  .footer .copy {
    font-size: 1.3em;
    text-align: center;
    grid-area: copy;
    color: #331122;
    border-top: 1px solid #331122;
    padding: .3rem; }
  .footer .link-active {
    background-color: #DD8755;
    color: #ffeeeeee;
    padding: 0 .6rem; }

/* Banner */
.banner {
  height: 83vh;
  background-image: url(../multimedia/banner.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ffddcc; }
  .banner h2 {
    padding: 0 1rem;
    font: small-caps 4.5em georgia;
    color: #ffeeeeee;
    text-shadow: 5px 5px 10px #331122; }
  .banner p {
    font: small-caps 2.4em georgia;
    color: #ffeeeeee;
    text-shadow: 5px 5px 10px #331122; }
  .banner i {
    color: #ffeeeeee;
    text-shadow: 5px 5px 10px #331122;
    font-size: 4.5em;
    margin-top: 2.5rem; }

/* index */
/* Sección Nosotros */
.nosotros {
  height: 100%;
  padding: 2rem;
  background-color: #ffeeeeee;
  border-top: 1px solid #ffddcc;
  border-bottom: 1px solid #ffddcc;
  display: flex;
  flex-direction: column; }
  .nosotros h1 {
    font: 6em georgia;
    color: #331122; }
  .nosotros p {
    color: #331122;
    font-size: 2em;
    margin: 25px 0px; }
  .nosotros span {
    background-color: #ffddcc; }

/* Sección SHOP */
.tienda-home {
  height: 100vh;
  background-image: url("../multimedia/Joyas-background.png");
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.shop {
  text-align: center;
  width: 50%; }
  .shop h2 {
    font: 6em georgia;
    color: #331122; }
  .shop p {
    margin-bottom: 2rem;
    font-size: 2.4em;
    color: #331122; }
  .shop a {
    background-color: #ffddcc;
    color: #331122;
    padding: .3rem;
    font-size: 2.4em; }

/* Nosotros page */
.secnosotros {
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }
  .secnosotros__texto {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 5.3rem 0;
    padding: 1rem;
    border: 1px solid #ffddcc;
    background-color: #ffeeeeee; }
  .secnosotros__mapa {
    width: 100%;
    border: 1px solid #ffddcc; }
    .secnosotros__mapa iframe {
      width: 100%; }
  .secnosotros h1 {
    font: small-caps 4.5em georgia;
    color: #331122; }
  .secnosotros p {
    font: small-caps 2.4em georgia;
    color: #331122;
    padding: 1rem;
    margin-bottom: 2rem; }
  .secnosotros__tel {
    width: 100%;
    text-align: center;
    margin-top: 2rem; }
    .secnosotros__tel h2 {
      font: small-caps 2.4em georgia;
      color: #331122; }
    .secnosotros__tel p {
      font: small-caps 2em georgia;
      margin: 2rem;
      color: #331122;
      padding: .4rem; }
    .secnosotros__tel a {
      color: #331122;
      font: small-caps 1.3em georgia;
      background-color: #ffddcc;
      padding: .5rem; }
  .secnosotros .vertienda a {
    background-color: #fff;
    font: small-caps 2.4em georgia;
    color: #331122;
    padding: 1rem;
    border: 1px solid #ffddcc; }

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  background-color: #ffeeeeee;
  max-width: 100%;
  box-shadow: 0px 3px 10px 4px #333;
  border: 1px solid #ffddcc;
  margin: 2rem; }
  .form .formulario {
    text-align: center;
    margin-top: 4.7rem;
    color: #331122;
    width: 100%;
    padding-bottom: 2.5rem;
    font-size: 1.3em; }
    .form .formulario h1 {
      font: small-caps 4.5em georgia;
      color: #331122;
      margin-bottom: 2rem; }
    .form .formulario p {
      color: #331122;
      font: small-caps 2em georgia;
      margin-bottom: 4.7rem; }
    .form .formulario .form__input {
      outline: none;
      width: 80%;
      padding: 1rem;
      margin: 1rem;
      border-radius: 5px;
      border: transparent;
      border-bottom: 1px solid #ffddcc; }
      .form .formulario .form__input:focus {
        background: linear-gradient(0deg, #bb8535 0%, white 42%); }
    .form .formulario .form__btn {
      font-size: 2em;
      width: 80%;
      padding: 1rem;
      margin: 1rem;
      border: 1px solid #DD8755;
      background-color: #ffddcc;
      color: #331122; }
    .form .formulario .form__text {
      font-size: 1.3em;
      margin: 1rem;
      width: 80%;
      padding: 1rem;
      border-radius: 5px;
      border: transparent;
      border-bottom: 1px solid #ffddcc; }
      .form .formulario .form__text:focus {
        background: linear-gradient(0deg, #bb8535 0%, white 42%); }

/* Tienda page */
.tienda {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff0f0; }
  .tienda__titulo {
    color: #331122;
    font: small-caps 2.4em georgia;
    padding: 1rem;
    text-align: center;
    margin-bottom: 1rem; }
  .tienda__productos {
    width: 90%;
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 1.3rem; }
  .tienda .producto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #DD8755;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    transition: all .3s; }
    .tienda .producto img {
      transition: all .3s;
      width: 90%; }
    .tienda .producto__texto {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center; }
      .tienda .producto__texto h3 {
        font-size: 1.3em;
        padding: .3rem; }
      .tienda .producto__texto p {
        color: #331122;
        font-size: 2em;
        padding: .5rem; }
      .tienda .producto__texto a {
        transition: all .3s;
        font-size: 1.3em;
        border: 1px solid #ffddcc;
        border-radius: 15px;
        padding: .8rem;
        background-color: #DD8755;
        color: #ffeeeeee; }
  .tienda .pagination {
    height: 5.3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .tienda .pagination i {
      border: 1px solid #DD8755;
      color: #DD8755;
      background-color: #ffddcc;
      padding: .5rem;
      font-size: 1.3em;
      width: 25px;
      text-align: center; }
    .tienda .pagination .link-active {
      background-color: #DD8755;
      color: #ffeeeeee; }

/* Preguntas frecuentes page */
.qya {
  text-align: center;
  background-color: #ffeeeeee; }
  .qya__titulo {
    background: linear-gradient(180deg, #bb8535 0%, #fefefe 63%); }
    .qya__titulo h1 {
      text-align: center;
      color: #331122;
      font-size: 4.5em;
      margin-bottom: 2.5rem;
      padding-top: 2.5rem; }
  .qya__texto {
    border: 1px solid #DD8755;
    padding: 2.5rem; }
    .qya__texto h2 {
      background-color: #DD8755;
      padding: 1rem;
      border-radius: 16px;
      border: 1px solid #DD8755;
      color: #ffeeeeee;
      font-size: 2.4em;
      margin: 2rem 0; }
    .qya__texto p {
      color: #331122;
      font-size: 2em;
      padding: 1rem; }
  .qya__dudas {
    text-align: center;
    font-size: 2em;
    color: #331122;
    padding: 1rem; }

/* Logo wsp */
.wsp {
  position: fixed;
  bottom: 30px;
  right: 30px; }
  .wsp img {
    width: 65px;
    box-shadow: 4px 4px 8px #331122;
    border-radius: 19px;
    background-color: white; }

/* Media queries */
@media screen and (min-width: 576px) and (max-width: 768px) {
  .header {
    flex-direction: row; }
    .header__nav {
      border-top: none; }
    .header__logo {
      width: 25rem; } }

@media screen and (min-width: 769px) and (max-width: 992px) {
  .header__nav {
    border-top: none; }
    .header__nav ul {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center; }
  .header .link-active {
    background-color: #ffddcc;
    color: #ffeeeeee;
    padding: .8rem;
    border-radius: 15px; }
  .banner {
    height: 35rem;
    background-attachment: fixed;
    background-size: cover; }
  .tienda__productos {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    padding: 2rem; }
  .footer {
    grid-template-rows: auto;
    grid-template-areas: "nav pagos cont" "nav pagos redes" "copy copy copy"; } }

@media screen and (min-width: 993px) {
  .header__nav {
    border-top: none;
    height: 100%; }
    .header__nav ul {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center; }
    .header__nav a {
      transition: all .3s; }
      .header__nav a:hover {
        color: #DD8755;
        text-shadow: 1px 1px 3px #DD8755; }
    .header__nav .link-active {
      background-color: #ffddcc;
      color: #ffeeeeee;
      padding: .8rem;
      border-radius: 15px; }
  .banner {
    height: 60vh;
    background-attachment: fixed;
    background-size: cover; }
  .shop a {
    transition: all .3s; }
    .shop a:hover {
      background-color: #DD8755; }
  .nosotros {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap; }
    .nosotros__title {
      width: 50%; }
    .nosotros__text {
      width: 50%; }
  .form__input {
    width: 40%; }
  .form__text {
    width: 82%; }
  .form__btn {
    width: 50%;
    transition: all .4s; }
    .form__btn:hover {
      background-color: #DD8755; }
  .vt a {
    transition: all .3s; }
    .vt a:hover {
      background-color: #DD8755; }
  .secnosotros a {
    transition: all .3s; }
    .secnosotros a:hover {
      background-color: #DD8755; }
  .tienda__titulo {
    padding: 2rem; }
  .tienda__productos {
    padding: 2rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem; }
    .tienda__productos a:hover {
      background-color: #DD8755;
      color: #ffeeeeee; }
    .tienda__productos img:hover {
      transform: scale(1.3); }
  .qya {
    text-align: start; }
    .qya h1 {
      text-align: center;
      color: #331122;
      font-size: 4.5em;
      margin-bottom: 2.5rem;
      padding-top: 2.5rem; }
    .qya__texto {
      width: 85%;
      margin: auto;
      border-radius: 20px; }
      .qya__texto h2 {
        text-align: center; }
      .qya__texto p {
        padding-left: 5.3rem; }
  .footer {
    grid-template-rows: auto;
    grid-template-areas: "nav pagos cont" "nav pagos redes" "copy copy copy"; }
  .footer__li a {
    transition: all .3s; }
    .footer__li a:hover {
      padding: .1rem;
      background-color: #ffddcc;
      color: #ffeeeeee; } }
