* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: small-caps italic georgia;
}

/* Fonts */

/* Normalize */

:root {
    /* Colors */
    --primario: #fff;
    --secundario: #94692a;
    --texto: #333;

    /* Font-sizes*/

    --banner: 6em;
    --text-title: 4.5em;
    --text-menu: 2.4em;
    --text-medium: 2em;
    --text-small: 1.3em;

}

html {
    font-size: 62.5%
}

body { 
    background-image: url(../multimedia/Joyas-background.png);
    background-attachment: fixed;
    background-size: cover;
}
/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primario);
    border-bottom: 1px solid var(--secundario) ;
    grid-area: header;
}
.menu a {
    text-decoration: none;
    color: var(--secundario);
    font-size: var(--text-menu);
    border-bottom: 1px solid transparent;
    transition: border 1s;
}
.menu a:hover {
    border-bottom: 1px solid var(--secundario);
}
ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;

}

/* Banner */

.banner {
    height: 35rem;
    background-image: url(../multimedia/banner.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position:0 -23rem ;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}

.banner h1 {
    font: var(--banner) georgia;
    color: var(--texto);
    margin-right: .3em;
}

/* -------- SECCIÓN NOSOTROS -------- */
.nosotros {
    height: 100vh;
    padding: 5rem;
    background-color: var(--primario);
    border-top: 1px var(--secundario) solid;
    border-bottom: 1px var(--secundario) solid;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nosotros__text {
    max-width: 50%;
}


.nosotros h3 {
    font: var(--banner) georgia;
    color: var(--texto);
}

.nosotros p {
    padding: 15px;
    font-size: var(--text-medium);
    margin: 25px 0px;
}

.nosotros a {
    font-size: var(--text-medium);
    padding: 1rem;
    margin: 1.6rem;
    text-decoration: none;
    color: var(--primario);
    background-color: var(--secundario);
    transition: all .4s;
}
.nosotros a:hover {
    background-color: #6d4d1d;
}

/* ----------- SECCIÓN SHOP -------- */

.tienda-home {
    height: 100vh;
    background-image: url("../multimedia/Joyas-background.png");
    background-size: cover;
}
.shop {
    padding: 25rem 0 0 8rem;
    text-align: center;
    width: 48%;
}
.shop h5 {
    
    font: 6em georgia;
    color: var(--texto);
}
.shop p {
    margin-bottom: 2rem;
    font-size: var(--text-menu);
    color: var(--texto);
}
.shop a {
    padding: .2rem;
    text-decoration: none;
    color: var(--primario);
    background-color: var(--secundario);
    font-size: var(--text-menu);
    transition: all 1s;
}
.shop a:hover {
    background-color: #6d4d1d;
}


/*------------ FOOTER ------------ */
footer { 
    display: grid;
    height: 22rem;
    background-color: #94692A;
    grid-template-columns: repeat(3 1fr);
    grid-template-rows: 50% 50%;
    grid-template-areas: "nav pagos cont"
                         "nav pagos redes";  
   margin:auto; 
   color: var(--texto);
}
footer h6 {
    font: var(--text-small) georgia;
    text-align: center;
    margin: 1.4rem 0;
    text-decoration: underline;
}
footer a {
    color: var(--texto);
    text-decoration: none;
    font-size: var(--text-small);
}
footer i {
    color: var(--texto);
}

.footer__nav {
    grid-area: nav;    
}
.footer__ul{
    display: flex;
    flex-direction: column;
}

.footer__pagos{
    grid-area: pagos; 
}
.pagos__grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 5rem 5rem;
}
.footer__pagos img {
    width: 7rem;
}

.footer__contacto{
    grid-area: cont;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}
.footer__redes{
    grid-area: redes;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer__redes img {
    width: 25px;
}

/* ------------ FIN DEL FOOTER ------------------- */

/* ---------------PAGINA CONTACTO--------------------- */

/* ------------ FORMULARIO ----------------------- */

.cont {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #ffffff;
    max-width: 90%;
    margin: auto;
    box-shadow: 0px 3px 10px 4px #333;
    margin: 10rem;
    border: 1px solid var(--secundario);

}

.cont__texto {
    max-width: 100%;
    text-align: center;
    margin-top: 1.7rem;
}

.cont__texto h4 {
    font: small-caps italic 4rem georgia;
    color: #333;
}

.cont__texto p {
    font: small-caps italic 1.6rem georgia;
    margin: 3rem;
    color: #333;
    padding: .4rem;
}

.cont__form {
    text-align: center;
    margin-top: 6rem;
    color: #333;
    width: 50%;
    font: small-caps italic 1.3rem georgia;

    padding-bottom: 3rem;

}

.cont__form h4 {
    font: small-caps italic 4rem georgia;
    margin-bottom: 1rem;
}

.form__input {
    width: 40%;
    padding: 1.3rem;
    margin: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form__btn {
    font-size: 1.7rem;
    width: 60%;
    padding: 1.3rem;
    margin: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: var(--secundario);
    color: #fff;
    transition: all .3s;
}
.form__btn:hover {
    background-color: #7e5a23;
}

.form__text {
    font-size: 1.4rem;
    margin: 1rem;
    width: 83%;
    padding: 1.3rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* --------------PAGINA NOSOTROS----------------- */

/* Sección Quienes somos */

.sec-nosotros {
    background-color: var(--primario);
    border-top: 1px solid var(--secundario);
    display: flex;
    align-items: center;
    
}
.sec-nosotros__texto {
    height: 60vh;
    min-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    margin: 9rem 0;
}
.sec-nosotros__video {
    min-width: 50%;
    border: 2px solid var(--secundario);
}
.sec-nosotros video {
    width: 100%;
}
.sec-nosotros h5 {
    font: 5em georgia;
    color: var(--texto);
}
.sec-nosotros p {
    font: var(--text-medium) georgia;
    color: var(--texto);
    padding: 1.5rem;
}
.vt a {
    background-color: var(--secundario);
    text-decoration: none;
    font: var(--text-medium) georgia;
    color: var(--primario);
    padding: 1.5rem;
    transition: all .3s;
}
.vt a:hover {
    background-color: #6d4d1d;
}
