/* Colors */

$primary: #ffddcc;
$secondary: #ffeeeeee;
$hover: #DD8755;
$text-color: #331122;

/* Spacings */

$spacing-xl: 5.3rem;
$spacing-lg: 4.7rem;
$spacing-md: 2.5rem;
$spacing-sm: 2rem;
$spacing-xs: 1rem;

/* Font-size */

$text-xl: 6em;
$text-lg: 4.5em;
$text-md: 2.4em;
$text-sm: 2em;
$text-xs: 1.3em;