.header {
    max-width: 100%;
    @include flex(column, center, center);
    background-color: $secondary;
    border-bottom: 1px solid $primary;
    position: sticky;
    top: -80px;

    &__nav {
        width: 100%;

        ul {
            @include flex(row, space-around, center);
            ;
            font-size: 2em;
            padding: 2rem;
            background-color: $primary;

            a {
                color: $text-color
            }
        }

    }
    .wsp {
        background-color: transparent;
       
        bottom: 30px;
    }

    .link-active {

        color: $hover;
        padding: .3rem;
        border-radius: 15px;
    }
}