.wsp {
    
    position: fixed;
    bottom: 30px;
    right: 30px;
   
    img {
        width: 65px;
        box-shadow: 4px 4px 8px $text-color; 
        border-radius: 19px;
        background-color: white;
    }
}