.secnosotros {
    height: 100%;
    background-color: #fff;
    @include flex(column, flex-start, center);
    &__texto {
        width: 80%;
        @include flex(column, space-around, center);
        text-align: center;
        margin: $spacing-xl 0;
        padding: $spacing-xs;
        border: 1px solid $primary;
        background-color: $secondary;
        
    }
    &__mapa {
        width: 100%;
        border: 1px solid $primary;
        iframe {
            width: 100%;
        }
    }
    h1 {
        font: small-caps $text-lg georgia;
        color: $text-color;
    }
    p {
        font: small-caps $text-md georgia;
        color: $text-color;
        padding: $spacing-xs;
        margin-bottom: $spacing-sm;
    }

    &__tel {
        width: 100%;
        text-align: center;
        margin-top: $spacing-sm;
        h2 {
            font: small-caps $text-md georgia;
            color: $text-color;
        }
        p {
            font: small-caps $text-sm georgia;
            margin: $spacing-sm;
            color: $text-color;
            padding: .4rem;
        }
        a {
            color: $text-color;
            font: small-caps $text-xs georgia;
            background-color: $primary;
            padding: .5rem;
        }
    }
    .vertienda a {
        background-color: #fff;
        font: small-caps $text-md georgia;
        color: $text-color;
        padding: $spacing-xs;
        border: 1px solid $primary
    }
}

.form {
    @include flex(column, flex-start, center);
    flex-wrap: wrap;
    background-color: $secondary;
    max-width: 100%;
    box-shadow: 0px 3px 10px 4px #333;
    border: 1px solid $primary;
    margin: $spacing-sm;

    .formulario {
        text-align: center;
        margin-top: $spacing-lg;
        color: $text-color;
        width: 100%;
        padding-bottom: $spacing-md;
        font-size: $text-xs;
        h1 {
            font: small-caps $text-lg georgia;
            color: $text-color;
            margin-bottom: $spacing-sm;
        }
        p {
            color: $text-color;
            font: small-caps $text-sm georgia;
            margin-bottom: $spacing-lg;
        }
        .form__input {
            outline: none;
            width: 80%;
            padding: $spacing-xs;
            margin: $spacing-xs;
            border-radius: 5px;
            border: transparent;
            border-bottom: 1px solid $primary;
            &:focus {
                background: linear-gradient(0deg, rgba(187,133,53,1) 0%, rgba(255,255,255,1) 42%);
            }
        }
        .form__btn {
            font-size: $text-sm;
            width: 80%;
            padding: $spacing-xs;
            margin: $spacing-xs;
            border: 1px solid $hover;
            background-color: $primary;
            color: $text-color
        }
        .form__text {
            font-size: $text-xs;
            margin: $spacing-xs;
            width: 80%;
            padding: $spacing-xs;
            border-radius: 5px;
            border: transparent;
            border-bottom: 1px solid $primary;
            &:focus {
                background: linear-gradient(0deg, rgba(187,133,53,1) 0%, rgba(255,255,255,1) 42%);
            }
        }
    }
}