.qya {
    text-align: center;
    background-color: $secondary;
    &__titulo {
        background: linear-gradient(180deg, rgba(187,133,53,1) 0%, rgba(254,254,254,1) 63%);
        h1 {
            text-align: center;
            color: $text-color;
            font-size: $text-lg;
            margin-bottom: $spacing-md;
            padding-top: $spacing-md;
        }
    }
    &__texto {
        border: 1px solid $hover;
        padding: $spacing-md;
        h2 {
            background-color: $hover;
            padding: $spacing-xs;
            border-radius: 16px;
            border: 1px solid $hover;
            color: $secondary;
            font-size: $text-md;
            margin: $spacing-sm 0;

        }
        p {
            color: $text-color;
            font-size: $text-sm;
            padding: $spacing-xs;
        }
       
    }
    &__dudas {
        text-align: center;
        font-size: $text-sm;
        color: $text-color;
        padding: $spacing-xs;
    }
}
