.tienda {

    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 240, 240);
    &__titulo {
        color: $text-color;
        font: small-caps $text-md georgia;
        padding: $spacing-xs;
        text-align: center;
        margin-bottom: $spacing-xs;

    }

    &__productos {
        width: 90%;
        margin: auto;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 1.3rem;

    }

    .producto {
        @include flex(column, space-between, center);
        background-color: #ffffff;
        border: 1px solid $hover;
        border-radius: 15px;
        width: 100%;
        height: 100%;
        transition: all .3s;

        img {
            transition: all .3s;
            width: 90%;
        }

        &__texto {
            @include flex(column, space-between, center);
            h3 {
                font-size: $text-xs;
                padding: .3rem;
            }

            p {
                color: $text-color;
                font-size: $text-sm;
                padding: .5rem;
            }

            a {
                transition: all .3s;
                font-size: $text-xs;
                border: 1px solid $primary;
                border-radius: 15px;
                padding: .8rem;
                background-color: $hover;
                color: $secondary;
            }
        }

        

    }
    .pagination {
        height: $spacing-xl;
        @include flex(row, center, center);
        i {
            border: 1px solid $hover;
            color: $hover;
            background-color: $primary;
            padding: .5rem;
            font-size: $text-xs;
            width: 25px;
            text-align: center;
        }
        .link-active {
            background-color: $hover;
            color: $secondary;
        }
    }
}